@import '../../assets/scss/variables';

#auth-container {
  background-color: $bg-main;
  min-height: 100vh;

  #auth-card {
    display: flex;
    justify-content: center;
    #sections {
      background-color: white;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      margin: 20px;
      max-width: 100%;

      @media (min-width: 800px) {
        flex-direction: row;
        margin-top: 2.5rem;
        min-width: 500px;
      }

      #image-section {
        background-color: $bg-light;
        border-radius: 20px 20px 0px 0px;

        @media (min-width: 800px) {
          border-radius: 20px 0px 0px 20px;
        }
        img {
          max-height: 300px;
          max-width: 100%;
        }
      }

      #form-section {
        min-width: 100%;
        @media (min-width: 800px) {
          min-width: 300px;
        }
        h2 {
          text-align: center;
        }

        form {
          padding: 10px;

          .input-field {
            input,
            select {
              border-radius: 5px;
              border-color: $bg-light;
              box-sizing: border-box;
              height: 40px;
              width: 100%;
            }
          }
          button {
            background-color: $bg-main;
            border: none;
            color: white;
            cursor: pointer;
            font-weight: 700;
            height: 40px;
            padding: 5px;
            width: 100%;
          }
        }
      }
    }
  }
}
