@import '../../assets/scss/variables';

#navbar {
  background-color: $bg-main;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 0 10px;

  h2 {
    align-self: center;
    color: white;
    display: flex;
  }

  #profile-menu {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    position: relative;
    cursor: pointer;
  }

  p {
    align-self: center;
    color: white;
    display: flex;
  }
}
